* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #51006c;
    background-color: rgb(0, 0, 0);
    --text-color: #000000;
}

.escuro {
    --primary-color: #51006c;
    background-color: rgb(0, 0, 0);
    --text-color: #000000;
    
    --primary-color: #ffffff;
     background-color: rgb(255, 255, 255);    
    --text-color: #18006d;    
}

 body {
    background-color: var(--primary-color); 
    color: var(--text-color);
     font-family: Arial, sans-serif;
 }



header {
    margin: 15px 10px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;


    display: flex;
    gap: 10px;
    align-items: center; /* Alinhamento vertical */
    justify-content: center; /* Alinhamento horizontal */
    background-color:var(--primary-color);
} 

header button {
    position : absolute;
    top: 25px;
    right: 25px;

    padding: 2vw;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--text-color);

    color: var(--primary-color);
    font-weight: bold;
}

header button:hover {
    padding: 1.5vw;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
}

header button:active {
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    
}


header img {
    width: 100px;
    height: auto;
}


header h1 {
    font-size: 8vw;
    color: var(--text-color);
}

.noticias {
    margin-top: 20px;
    margin-left: 20px;

    display: flex;
    gap: 20px;
}

.noticias {    
    width: 300px;   
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;    
}

.noticias h2 {
    font-size: 5vw;
    color: var(--text-color);
    margin-bottom: 10px;
}


